$primary-color: #1A4D3F;

body, html {
  margin: 0;
  padding: 0;
}

.scorecard {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 100px;


  th {
    background-color: $primary-color;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    text-align: center;
  }

  td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;

    input {
      width: 40px;
    }
  }

  tr:not(:last-child) {
  margin-bottom: 10px;
}


  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.reset-button {
    background-color: #7ce01f; // Green
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position: absolute;
    right: 70px;
  
    &:hover {
      background-color: darken(#4CAF50, 10%);
    }
  }

  .wrap {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
  }

  .btn {
    font: {
      size: 17px;
    }
    border-radius: 2px;
    width: 75px;
    height: 30px;
    text-transform: uppercase;
    color: #FFF;
    background: linear-gradient(to right, #4CAF50, #4CAF50 50%, $primary-color 50%);
    background-size: 200% 100%;
    background-position: 100%;
    border: 0;

    transition: background-position .5s;

    &:hover {
        background-position: 0 100%;
    }
  }

  .section-signup {
    .wrap {
      .form-wrapper {
        margin: 50px auto 0;
        height: 600px;
        width: 500px;
        border-radius: 5px;
        border: 2px solid $primary-color;
        background-color: #00917060;
        @media screen and (max-width: 700px) {
          width: 300px;
        }
        .form-signup{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 30px;
          padding: 25px;
          .btn {
            margin: 0 auto;
          }
          .input-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 35px;
            @media screen and (max-width: 700px) {
              flex-direction: column;
              justify-content: center;
              gap: 10px;
            }
            .input-signup {
              width: 200px;
              height: 25px;
              outline-color: $primary-color;
              border: 1px solid $primary-color;
              border-radius: 2px;
              @media screen and (max-width: 700px) {
                margin: 0 auto;
              }
            }
            span {
              align-self: center;
            }
          }
        }
      }
    }
  }



